* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
}


/* Style the header */


/* Style the header */

.header {
    background-image: url('../img/pexels-fauxels-3184460.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding: 10% 20px;
    text-align: center;
}

.header h1 {
    font-size: 50px;
}

.header p {
    font-size: 30px;
}


/* Create three equal columns that floats next to each other */


/* ejemplo de estilos por clase */

.one-column {
    float: left;
    width: 100%;
    /*padding top right bottom left o arriba+abajo y derecha+izquierda o un solo valor aplica a todos los lados*/
    padding: 20px 20%;
}

.one-column h1,
.one-column h2 {
    text-align: center;
}

#cadetblue {
    background-color: cadetblue;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/*two columns*/

.two-column {
    width: 50%;
    float: left;
    padding: 20px;
}


/*Image Gallery*/

.three-columns {
    padding: 20px;
    float: left;
    width: 33.33%;
}

.three-columns img {
    width: 100%;
}

.three-columns .desc {
    padding: 15px;
    text-align: center;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}